[project]
	description = TestJagran
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/imabhi504
[access "refs/for/refs/*"]
	read = group user/imabhi504
	push = group user/imabhi504
	label-Code-Review = -2..+2 group user/imabhi504
	label-Verified = -1..+1 group user/imabhi504
	rebase = group user/imabhi504
	removeReviewer = group user/imabhi504
	submit = group user/imabhi504
[access "refs/heads/*"]
	read = group user/imabhi504
	create = group user/imabhi504
	push = +force group user/imabhi504
	pushMerge = group user/imabhi504
[access "refs/tags/*"]
	push = +force group user/imabhi504
	pushTag = group user/imabhi504
	pushSignedTag = group user/imabhi504
